/* ------       containers     ---------- */

.create-review-container-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 500px;
}

.create-review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-review-heading {
  display: flex;
  font-size: 40px;
}

.leave-review {
  width: 450px;
  height: 150px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.leave-review:focus {
  outline: none;
  box-shadow: 0 0 8px rgb(161, 161, 161);
}

.five-stars {
  display: flex;
  margin-right: 4px;
}

.five-stars .filled {
  color: rgba(2, 104, 187, 0.811);

}

.five-stars .empty {
  color: rgb(226, 239, 246);
}

.stars-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.stars-text-rating {
  font-size: 12px;
}

.submit-review-button-modal {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(2, 104, 187, 0.511);

  transition: background-color 0.3s ease;
}

.submit-review-button-modal:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
