.errors {
  color: red;
}

.create-spot-container {
  /* margin-top: 50px; */
  width: 500px;
  padding: 5% 30%;
  display: flex;
  flex-direction: column;
  /* align-items:center; */
}

/* .create-form{
    display:flex;
    flex-direction:column;
    align-items:center; 
} */
/* ---------------HEADING------------------ */

.create-spot-heading-container {
}
.create-spot-heading {
  font-size: 25px;
  /* position: relative;
bottom: 15px; */
}
.update-spot-heading {
  font-size: 25px;
}
.where-create {
  font-size: 20px;
}
.where-create-info {
  font-size: 15px;
  position: relative;
  bottom: 15px;
}

/* ---------------LOCATION------------------ */

.basic-input {
  width: 100%;
}

.city-input {
  width: 55%;
}

/* ---------------DESCRIPTION------------------ */
.create-form-header {
  border-top: 2px solid black;
  font-size: 20px;
  padding-top: 10px;

}


.description-input {
  width: 500px;
  height: 100px;
}

/* -------------- NAME ----------------- */

.create-form-name-heading{
  font-size: 20px;

}


/* --------------- Price ------------------ */
/* --------------- Photos ------------------ */
