/* Flex attempt fail */
/* .spotCardsContainer { */
/* margin: 0; */
/* width: 90%;
  height: 90%; */
/* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 5rem;
  padding: 5rem 3rem;
} */
/* .spotCardsContainer > * { */
/* flex-shrink: 1;
flex-grow: 0;
flex-basis:0; */
/* flex: 1; */
/* } */

/* grid attempt */
.spotCardsContainer {
  margin: 30px 30px;
  padding: 40px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* tried this 50 times still not working  maybe it has to have an event 
listener or something...*/
@media screen and (max-width: 549px) {
  .spotCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 550px) and (max-width: 949px) {
  .spotCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 950px) and (max-width: 1127px) {
  .spotCardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1128px) {
  .spotCardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
