.spotCard {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  /* display: flex; */
  /* flex-direction: column; */
  transition: filter 300ms; 
}
/* grid-template-rows: 1fr 1fr 1fr; */

.spotCard:hover {
  filter: brightness(1.2);
}
/* need to add name of spot for hover */

.previewImage {
  width: 200px;
  height: 180px;
  border-radius: 10px 10px;
  
}

.location {
  font-size: 10px;
 
}

.avg-rating {
  font-size: 10px;
 
}
.price {
  font-size: 10px;
  
}
