.spotCard {
  width: 200px;
  height: 200px;
  margin: 15px 0px;
  transition: filter 300ms;
  cursor: pointer;
}

.spotCard:hover {
  filter: brightness(1.1);
}
/* need to add name of spot for hover */

.previewImage {
  width: 200px;
  height: 180px;
  border-radius: 10px 10px;
}
.location-rating-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 3%;
}

.location {
  font-size: 10px;
}

.avg-rating {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

.price-container {
  display: flex;
  position: relative;
  bottom: 7%;
}

.price {
  font-size: 10px;
}
.night {
  font-size: 10px;
  opacity: 0.7;
  position: relative;
  left: 2px;
}

#my-tooltip {
  opacity: 0.1;
  font-size: 5px;
  background-color: black;

}

