.update-booking-container-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 900px;
  height: 700px;
  border-radius: 15px;
}

.update-booking-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-booking-heading {
  display: flex;
  font-size: 40px;
}

.update-booking-input-container {
  display: flex;
  justify-content: center;
  width: 750px;
}

.update-booking-input-subtext {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
}

.left-update-booking-start {
  padding: 5px;
  border: 1.5px solid rgb(193, 193, 193);
  width: 45%;
  height: 45px;
}

.right-update-booking-end {
  padding: 5px;
  border-top: 1.5px solid rgb(193, 193, 193);
  border-bottom: 1.5px solid rgb(193, 193, 193);
  border-right: 1.5px solid rgb(193, 193, 193);
  width: 45%;
}

.update-booking-date-input {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

.update-booking-select {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.update-booking-button {
  background-color: rgba(2, 104, 187, 0.411);
  color: white;
  width: 250px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.update-booking-button:hover {
  background-color: rgba(2, 104, 187, 0.811);

  transform: scale(1.05);
}
