.navigation-bar {
  display: fixed;
  z-index: 5;
  height: 60px;
  width: 100%;
  top: 0%;
  border-bottom: 1px solid rgb(205, 202, 202);
  /* padding: 0rem 0rem; */
  position: fixed;
  background-color: white;
}

.home-button {
  color: rgb(254, 2, 2);
  position: relative;
  top: 1rem;
  left: 2rem;
  font-size: 25px;
}

.menu {
  position: absolute;
  top: 17px;
  right: 3rem;
  cursor: pointer;
  font-size: 25px;
}



.menu-dropdown {
  position: absolute;
  z-index: 4;
  top: 3rem;

  right: -32px;
  width: 110px;
  padding: 30px;
  height: 175px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  list-style-type: none
  
}


.menu-dropdown::before {
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  right: 2rem;
  height: 25px;
  width: 25px;
  top: -0.85rem;
  content: "";
  z-index: 1;
  /* box-shadow: -3px -3px 3px 0 rgba(0, 0, 0, 0.1); */
}

.profile-dropdown{
  list-style-type: none

}



.new-spot-button {
  color: red;
  position: absolute;
  right: 10rem;
  top: 2.5rem;
}

.manage-spot-button {
  color: red;
}

.your-profile-button{
padding: 0;
border: none;
background: none;
}

/* 
.log-in-button {
  background-color: red;
  color: blue;
}

.sign-up-button {
  background-color: red;
} */
