/* -----------          Nav Bar        ----------------- */

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 5;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(227, 227, 227);
}
/* ------------         home         -------------- */

.home-button {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.logo-main {
  width: 45px;
}

.home-button-text {
  font-size: 25px;
  font-weight: 450;
  color: rgba(2, 104, 187, 0.811);
}

/* ---------           search         ----------------- */

/* before click   */
.search-bar-style {
  display: flex;
  align-items: center;
  border: 1.5px solid rgb(227, 227, 227);
  border-radius: 50px;
  height: 45px;
  width: 350px;
  justify-content: space-around;
  cursor: pointer;
}

.search-bar-style:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.search-text-before {
  font-size: 14px;
  margin-left: 5px;
  padding: 10px;
}

.magnifying-circle {
  background-color: rgba(2, 104, 187, 0.811);

  height: 35px;
  width: 35px;
  z-index: 3;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnifying {
  color: white;
  width: 13px;
}

/* ---------            after click            --------------*/

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1.5px solid rgb(227, 227, 227);
  border-radius: 50px;
  height: 45px;
  width: 350px;
  position: relative;
  margin-left: 10px;
  overflow: hidden;
}

.search-bar-container:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.search-bar-container:focus {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1.5px solid rgb(227, 227, 227);
  border-radius: 50px;
  height: 45px;
  width: 350px;
  position: relative;
  margin-left: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.search-bar-input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}

/*  -----------          create a spot      ----------------  */

.new-spot-button {
  position: absolute;
  left: 76%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* -------------               Menu Icon Button         ---------------- */

.nav-bar-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1.5px solid rgb(227, 227, 227);
  border-radius: 50px;
  height: 20px;
  width: 55px;
  position: absolute;
  top: 50%;
  left: 89%;
  transform: translateY(-50%);
  gap: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.nav-bar-menu-icon:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.menu-bars {
  height: 15px;
  color: grey;
}

.menu-circle-user {
  height: 32px;
  color: grey;
}

/* ----------        drop down         ------------- */

.menu {
  position: absolute;
  left: 90%;
  top: 14px;
}

.menu-dropdown {
  position: absolute;
  z-index: 4;
  top: 3rem;
  right: -32px;
  width: 200px;
  padding: 1rem;
  height: 175px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;
}

.menu-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;
}

.logged-out-dropdown-container {
  position: relative;
  top: 0rem;
  row-gap: 80px;
  /* right: -40px; */
  width: 90px;

  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

/* -------------       Menu Contents  ------------- */

.your-profile-button {
  color: red;
  filter: brightness(0.05);
  transition: filter 150ms ease-in-out;
}

.menu-drop-heading-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-hello {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.menu-email {
  display: flex;
  justify-content: center;
  font-size: 14px;
  opacity: 0.6;
}

.drop-down-logged-in-buttons {
  display: flex;
  flex-direction: column;
}

.logged-in-menu-buttons {
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  transition: background-color 300ms ease;
}

.log-out-button-container {
  margin-top: 5px;
  border-top: 1.5px solid rgb(227, 227, 227);
  padding-top: 5px;
}

.logged-in-menu-buttons:hover {
  background-color: rgb(239, 239, 239);
}

/* ---------------------------------------Signed out User----------------------------- */
.log-in-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  height: 35px;
  width: 200px;

  display: flex;
  align-items: center;
  transition: background-color 300ms ease;
}
.log-in-button:hover {
  background-color: rgb(239, 239, 239);

}

.sign-up-button {
  padding: 0;
  border: none;
  background: none;
  width: 200px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  transition: background-color 300ms ease;
}
.sign-up-button:hover {
  background-color: rgb(239, 239, 239);
}

.demo-log-container{
  width: 200px;
  margin-top: 5px;
  border-top: 1.5px solid rgb(227, 227, 227);
  padding-top: 15px;
  
}

.demo-log-in-button {

  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  height: 35px;
  width: 200px;

  display: flex;
  align-items: center;
  transition: background-color 300ms ease;
}
.demo-log-in-button:hover {
  background-color: rgb(239, 239, 239);

}
